[core]
  editor = edit -w
  excludesfile = /Users/brianfenton/dotfiles/.gitignore
  attributesFile = /Users/brianfenton/dotfiles/.gitattributes
  autocrlf = input
  safecrlf = true
  quotepath = false
  hooksPath = /Users/brianfenton/dotfiles/git_hooks

[color]
  ui = auto

[github]
  user = fentie
  email = fentie@gmail.com
#this causes problems when using git pull, since that's a git fetch + git merge. too much log clutter
#[branch "master"]
#	mergeoptions = --no-ff

[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  clone = clone --recursive
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  standup = log --pretty=oneline --author=\"Brian Fenton\"
  purge = !git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D && :

[fetch]
  recurseSubmodules = true

[credential]
  helper = osxkeychain

[diff]
  algorithm = patience

[push]
  default = nothing

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[rerere]
  enabled = true
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[user]
  name = fentie
  email = brian.fenton@wheniwork.com
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
